# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!fans.cfg
!bedfans.cfg
!leds.cfg
!macros.cfg
!test_speed.cfg
!misc.cfg
!motors.cfg
!printer.cfg
!moonraker.cfg
!moonraker.conf
!KlipperScreen.conf
!ShakeTune_results/**
