[gcode_macro _BEDFANVARS]
variable_threshold: 100		
variable_fast: 0.6		
variable_slow: 0.2		
gcode:

[fan_generic BedFans]
pin: PF6
kick_start_time: 0.5

########## Optimized Aliases #########

[gcode_macro BEDFANSSLOW]
gcode:
	SET_FAN_SPEED FAN=BedFans SPEED={printer["gcode_macro _BEDFANVARS"].slow}

[gcode_macro BEDFANSFAST]
gcode:
	SET_FAN_SPEED FAN=BedFans SPEED={printer["gcode_macro _BEDFANVARS"].fast}

[gcode_macro BEDFANSOFF]
gcode:
	SET_FAN_SPEED FAN=BedFans SPEED=0

############ Command Overrides ############

[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: _SET_HEATER_TEMPERATURE
gcode:
	{% set HEATER = params.HEATER|default("None") %}
	{% set TARGET = params.TARGET|default(0)|int %}
	{% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|int %}
	
	_SET_HEATER_TEMPERATURE HEATER={HEATER} TARGET={TARGET}

	# Fan logic for Bed
	{% if HEATER|lower == "heater_bed" %}
		{% if TARGET >= THRESHOLD %}
			BEDFANSSLOW
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=1
		{% else %}
			BEDFANSOFF
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=0
		{% endif %}
	{% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
	{% set S = params.S|int %}
	{% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|int %}
	
	{% if S >= THRESHOLD %}
		BEDFANSSLOW
	{% else %}
		BEDFANSOFF
	{% endif %}                                        

	_SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={S}
	
	{% if S != 0 %}
		TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S} MAXIMUM={S + 5}
	{% endif %}

	{% if S >= THRESHOLD %}                                    
		BEDFANSFAST
	{% endif %}

[gcode_macro M140]
rename_existing: M99140
gcode:
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={params.S|default(0)}

[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
	BEDFANSOFF
	_TURN_OFF_HEATERS

################ Monitoring Loop #####################

[delayed_gcode bedfanloop]
gcode:
	{% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|int %}
	
	{% if printer.heater_bed.target >= THRESHOLD %}
		{% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
			BEDFANSFAST
		{% else %}
			UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=5
		{% endif %}
	{% endif %}