[fan]
pin: EBBCan:PA1
kick_start_time: 0.5
off_below: 0.1

[heater_fan hotend_fan]
pin: EBBCan:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[multi_pin controller_fans]
pins: PF6,PF9

[controller_fan controller_fan]
##  Controller fan
pin: multi_pin:controller_fans
max_power: 0.4
kick_start_time: 0.5
heater: heater_bed

[heater_fan nevermore_fan]
# Nevermore Filter
pin: PF7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0 

[heater_fan exhaust_fan]
#	Exhaust fan 
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
fan_speed: 1.0