#####################################################################
# 	TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04

[autotune_tmc stepper_z]
motor: moons-ms17hd6p420I-04
[autotune_tmc stepper_z1]
motor: moons-ms17hd6p420I-04
[autotune_tmc stepper_z2]
motor: moons-ms17hd6p420I-04
[autotune_tmc stepper_z3]
motor: moons-ms17hd6p420I-04

[autotune_tmc extruder]
motor: moons-cse14hra1l410a

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor rear left)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
endstop_pin: ^EBBCan: PB6
position_min: 5
position_endstop: 302
position_max: 302
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor rear right)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 64
rotation_distance: 40
endstop_pin: ^PF3
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 100	#MAX 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
position_max: 290
position_min: -5
homing_speed: 20
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB9
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



#[stepper_]##	Z1 Stepper - Rear Left on Motor4
[stepper_z1]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor5
[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on Motor6
[stepper_z3]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
