[include mainsail.cfg]
[include motors.cfg]
[include fans.cfg]
[include leds.cfg]
[include macros.cfg]
[include misc.cfg]

#####################################################################
#   UUID
#####################################################################
[mcu]
canbus_uuid: 083f05dfcad8

[mcu EBBCan]
canbus_uuid: 42b1d3fb028e #EBB36

[mcu scanner]
canbus_uuid: 4c963f0c12d1 

[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[scanner]
mcu: scanner            
x_offset: 0                          
y_offset: 23                         
backlash_comp: 0.00985
sensor: cartographer
sensor_alt: carto
mesh_runs: 2

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105


#####################################################################
#   Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 350  
max_accel: 10000
max_z_velocity: 30 			
max_z_accel: 150
square_corner_velocity: 5.0

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
rotation_distance: 22.6585395
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:PB13
pressure_advance: 0.025
min_temp: 0
max_temp: 300
min_extrude_temp: 150
sensor_type: MAX31865
sensor_pin: EBBCan:PA4
spi_software_sclk_pin: EBBCan:PA5
spi_software_mosi_pin: EBBCan:PA7
spi_software_miso_pin: EBBCan:PA6
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
#control: pid
#pid_Kp: 17.405
#pid_Ki: 1.065
#pid_Kd: 71.140

[tmc2209 extruder]
uart_pin: EBBCan:PA15
run_current: 0.65
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_Kp:58.567 
#pid_Ki:2.769 
#pid_Kd:309.672

[safe_z_home]
home_xy_position: 150,150
z_hop: 5

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,250
	250,250
	250,25
speed: 300
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
zero_reference_position: 150, 150
speed: 300
horizontal_move_z: 5
mesh_min: 50, 50
mesh_max: 250, 275
probe_count: 10, 10
algorithm: bicubic

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
   150, 150, 20

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.011610, -0.018245, -0.034079, -0.048989, -0.068866, -0.053230, -0.045497, -0.033778, -0.020597, -0.008476
#*# 	0.022860, 0.010663, 0.004659, 0.010566, -0.013336, -0.010349, -0.005138, 0.006463, 0.021421, 0.032038
#*# 	-0.024842, -0.031630, -0.045983, -0.047702, -0.058241, -0.043577, -0.036063, -0.034201, -0.023375, -0.013922
#*# 	-0.003469, -0.014087, -0.026948, -0.035942, -0.032387, -0.021179, -0.021331, -0.010379, -0.001721, 0.007652
#*# 	-0.010164, -0.023744, -0.035316, -0.033452, -0.010295, -0.000105, -0.024186, -0.020665, -0.006739, 0.006270
#*# 	-0.008415, -0.013946, -0.030000, -0.034813, -0.012191, -0.010002, -0.025629, -0.027654, -0.010492, 0.009887
#*# 	0.060417, 0.047255, 0.038089, 0.017234, 0.009494, 0.020386, 0.022961, 0.045630, 0.056938, 0.060885
#*# 	0.019899, 0.014690, 0.006845, -0.003888, -0.017594, -0.019819, -0.013176, 0.001626, 0.013111, 0.022268
#*# 	0.004986, -0.003635, -0.006795, -0.019014, -0.030850, -0.025016, -0.022035, -0.017048, -0.010686, 0.006640
#*# 	-0.019720, -0.021682, -0.029190, -0.040074, -0.043588, -0.044573, -0.038218, -0.036532, -0.029302, -0.020364
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 250.0
#*# min_y = 50.0
#*# max_y = 275.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.359
#*# pid_ki = 2.589
#*# pid_kd = 285.383
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.850
#*# pid_ki = 10.102
#*# pid_kd = 30.057
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1750
#*# scanner_touch_speed = 3
#*# scanner_touch_z_offset = 0.130
#*#
#*# [scanner model default]
#*# model_coef = 1.5209421764144153,
#*# 	1.8551003612701236,
#*# 	0.7652982250404698,
#*# 	0.3361004078240231,
#*# 	0.4026890379571663,
#*# 	0.4864265496523181,
#*# 	-0.3017692871009072,
#*# 	-0.5348779717831278,
#*# 	0.2636423263656815,
#*# 	0.30971651520194093
#*# model_domain = 3.2009163908382383e-07,3.32813805711842e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 33.559807
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 73.6
#*# shaper_type_y = zv
#*# shaper_freq_y = 52.4
