[include mainsail.cfg]
[include motors.cfg]
[include fans.cfg]
[include leds.cfg]
[include macros.cfg]
[include bedfans.cfg]

#####################################################################
#   UUID
#####################################################################
[mcu]
canbus_uuid: 083f05dfcad8

[mcu EBBCan]
canbus_uuid: 42b1d3fb028e #EBB36

[mcu scanner]
canbus_uuid: 4c963f0c12d1 

[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[scanner]
mcu: scanner            
x_offset: 0                          
y_offset: 23                         
backlash_comp: 0.00985
sensor: cartographer
sensor_alt: carto
mesh_runs: 2

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105


#####################################################################
#   Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 350  
max_accel: 6000
max_z_velocity: 30 			
max_z_accel: 150
square_corner_velocity: 5.0

[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
rotation_distance: 21.7883
gear_ratio: 50:10
nozzle_diameter: 0.40
filament_diameter: 1.750
heater_pin: EBBCan:PB13
pressure_advance: 0.075
min_temp: 0
max_temp: 300
min_extrude_temp: 150
max_extrude_only_distance: 101.0
sensor_type: MAX31865
sensor_pin: EBBCan:PA4
spi_software_sclk_pin: EBBCan:PA5
spi_software_mosi_pin: EBBCan:PA7
spi_software_miso_pin: EBBCan:PA6
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan:PA15
run_current: 0.65

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120

[safe_z_home]
home_xy_position: 150,150
z_hop: 5

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,250
	250,250
	250,25
speed: 300
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
zero_reference_position: 150, 150
speed: 350
horizontal_move_z: 5
mesh_min: 50, 50
mesh_max: 250, 275
probe_count: 10, 10
algorithm: bicubic

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1
axes_map: x, -y, -z

[resonance_tester]
accel_chip: adxl345
probe_points:
   150, 150, 20

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3

# Enable ShakeTune
[shaketune]
number_of_results_to_keep: 10
keep_raw_data: False
measurements_chunk_size: 2
timeout: 900

# Enable pause and resume print
[pause_resume]


[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 71.2
#shaper_type_y: mzv
#shaper_freq_y: 50.6
damping_ratio_x: 0.060
damping_ratio_y: 0.053



[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

[temperature_sensor CB1]
sensor_type: temperature_host

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor chamber]
sensor_type:  Generic 3950
sensor_pin:   PB0

[delayed_gcode filter_off]
gcode:
    SET_PIN PIN=nevermore VALUE=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.052411, 0.041056, 0.018801, 0.006682, -0.020198, -0.006827, -0.004266, 0.008700, 0.025099, 0.046213
#*# 	0.069390, 0.048510, 0.037179, 0.031793, 0.017548, 0.019806, 0.020782, 0.034932, 0.052774, 0.069596
#*# 	0.015135, -0.001751, -0.020215, -0.031921, -0.039925, -0.024112, -0.016956, -0.011167, 0.005452, 0.020090
#*# 	0.034813, 0.008869, -0.010499, -0.024494, -0.023905, -0.013402, -0.010167, 0.004289, 0.017817, 0.038232
#*# 	0.013944, -0.007128, -0.025855, -0.031229, -0.009117, -0.001262, -0.015956, -0.010950, 0.009303, 0.030866
#*# 	0.012004, 0.002277, -0.019231, -0.030422, -0.013801, -0.007347, -0.020180, -0.016948, 0.006192, 0.033555
#*# 	0.080926, 0.064659, 0.046316, 0.025059, 0.012986, 0.022252, 0.030747, 0.054699, 0.076571, 0.091310
#*# 	0.050593, 0.038825, 0.026227, 0.010298, -0.004392, -0.008203, 0.003885, 0.020851, 0.036893, 0.059250
#*# 	0.048397, 0.032981, 0.024352, 0.006446, -0.008954, -0.004737, 0.002031, 0.009902, 0.028483, 0.056705
#*# 	0.050625, 0.038306, 0.027196, 0.013271, 0.004972, 0.002167, 0.009862, 0.015519, 0.028911, 0.046262
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 250.0
#*# min_y = 50.0
#*# max_y = 275.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.921
#*# pid_ki = 2.578
#*# pid_kd = 292.456
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.398
#*# pid_ki = 10.840
#*# pid_kd = 32.255
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 1500
#*# scanner_touch_speed = 3
#*# scanner_touch_z_offset = 0.12
#*#
#*# [scanner model default]
#*# model_coef = 1.570012895752924,
#*# 	1.9187370213180268,
#*# 	0.7637412318598157,
#*# 	0.33039725886746785,
#*# 	0.36632682972685404,
#*# 	0.3242589780899288,
#*# 	-0.31818705140547043,
#*# 	-0.3339736550967498,
#*# 	0.2687134617751061,
#*# 	0.21269422526822568
#*# model_domain = 3.239655724014499e-07,3.333473465569724e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 35.170222
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 77.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 46.0
